.perfectCentered{
    display: flex;
    justify-content: center;
    align-items: center;
}
#registerOrLogin{
    flex-direction: column;
    
}
h1{
    color:white;
}
#containerLogin{
    background:#24303c;
    padding: 5vh;
    width: 20vw;
}
#signUpOrLogin{
    display: flex;
    height: 40px;
}
.divsignUpOrLogin{
    height: 100%;
    width: 50%;
}
.divsignUpOrLogin p{
    margin:0px;
    text-align: center;
}